.footer
  .footer-contents
    %ul.contents
      %li.content
        %h2.content-heading
          Smileについて
        %ul.footer-lists
          %li 
            =link_to "#" do
              会社概要（運営会社）
          %li 
            =link_to "#" do
              プライバシーポリシー
          %li 
            =link_to "#" do
              Smile利用規約
          %li 
            =link_to "#" do
              Smile登録規約
      %li.content
        %h2.content-heading
          Smile登録工務店
        %ul.footer-lists
          %li
            =link_to "#" do
              登録工務店一覧
          %li
            =link_to "#" do
              登録希望の工務店様へ
      %li.content
        %h2.content-heading
          Smileへの投稿&編集
        %ul.footer-lists
          %li
            =link_to new_event_path do
              ハウジングイベント投稿&編集
          %li
            =link_to "#" do
              DIY動画投稿&編集
          %li
            =link_to "#" do
              INTERIOR SHOP出品&編集
      %li.content
        %h2.content-heading
          ヘルプ＆ガイド
        %ul.footer-lists
          %li 
            =link_to "#" do
              Smileガイド
          %li
            =link_to "#" do
              利用ガイドライン
          %li
            =link_to "#" do
              お知らせ
    
