.header
  .header-box
    .top
      %ul.menu-box
        %li.new-account
          =link_to "#" do
            初めての方
        %li.help-link
          =link_to "#" do
            ヘルプ・お問い合わせ
    .center
      .title-box
        %ul.left-contents
          %li.title
            =link_to root_path do
              Smile
          %li.sub
            暮らしを " 楽しく" "おしゃれに"          
        -if user_signed_in?
          %ul.right-contents
            %li.right-contents__item--login
              =link_to mypages_path, class: "list-link" do
                マイページ
        -else
          %ul.right-contents
            %li.right-contents__item--login
              =link_to new_user_session_path, class: "list-link" do
                ログイン
            %li.right-contents__item--new
              =link_to new_user_registration_path, class: "list-link" do
                新規会員登録

    .bottom
      %ul.contents-box
        %li.top
          =link_to root_path do
            TOP
        %li.article
          =link_to article_index_path do
            FEATURE COLUMN
        %li.move
          =link_to movie_index_path do
            DIY MOVIE
        %li.shop
          =link_to items_path do
            INTERIOR SHOP