.main-article
  .article-content
    .image
      .top-number
        2020.09 Feature
      .top-info
        @Smile Presents
    .article-box
      .article-title
        %p サーファーが集う表浜の海と60’s Pro Surfers
      .article-lead
        %p サーフィンと歩み続けた3人のプロサーファー。
        %p これから先、表浜の環境を守っていく彼らの海やサーフィンへの思い、そしてこの海の魅力とは。
      .article-main-image
        =image_tag src="main.jpg"
      .article-text
        .text-box
          %p  東西へ弓状にのびる海岸線、どこまでも続く水平線、荒々しい波が飛沫を上げて寄せては返す。照りつける太陽で熱せられた砂浜へ降りると、内海の磯の香りとは違う太平洋の潮風のにおい。沖からの風が強いときの波、陸から吹き付ける風が強いときの波。台風の後には地形が変わり、波の立ち方まで変わる。太陽に照らされ海面がキラキラと光る晴れの日、雨が止み美しい虹がかかる瞬間、空気の澄んだ朝、オレンジ色の日が照らされる夕暮れ。その時々に異なる顔を見せてくれる表浜。そんな海に、波に、魅せられたサーファーが各地から集まっている。
          %br ロングビーチを中心にサーフポイントが点在する表浜は、サーファーの間では伊良湖と呼ばれ、全国的に有名なサーフィンのメッカ。このまちにサーフィンが広まったのは、先駆けの湘南や千葉に比べ、やや遅れた40年ほど前。湘南にあった有名ブランドの方が、こちらにショップを構えたのがきっかけだったそう。その頃にサーフィンを始めたのが、Sさん、Mさん、Yさんの父親世代だった。
          %br そんな3人の父親同士も同級生のサーファー。海が近くにあるという環境も手伝って、幼い頃からサーフィンに勤しんできた。幼なじみの3人は物心がついたときから浜で遊び、浮き輪の代わりにサーフボードが浮かんでいるのが当たり前。サーフィンをはじめるのは必然だったのかもしれない。昭和60年生まれの田原市出身、3人揃って全体で3割ほどしか占めない、右足を前にしてボードにのるグーフィーというサーフィンスタイル。Sさんは2005年に田原市第一号のプロサーファーに、Mさんはその2年後、少し遅れてYさんは2011年に、ともにプロの道を歩むという偶然の一致も驚きだ。
          %br ここ5〜10年でサーフィン人気はさらに過熱している。年間を通じて安定して波があり、初心者からエキスパートまで楽しめるポイントが多い表浜。無料の駐車場やトイレなど、設備が整備されている土地は全国的にも珍しいという。東京五輪の正式種目となり、注目度が増し田原市が市をあげてサーフタウンとうたっている今。3人がサーフィンを始めたばかりの頃にも感じた、波に載れたときの喜び、自然が相手だからこそ常に違う波、そして目の前で波にのるサーファーへの憧れ。波乗りたちが集まるこの海の素晴しさを再発見しては。
      .article-sub-image
        =image_tag src="sub_3.jpg"
        =image_tag src="sub_2.jpg"
        =image_tag src="sub_5.jpg"
    .pagination
      .page-search
        %a.pager_num.is-current{:href => ""} 1
        %a.pager_num{:href => "", :rel => "next"} 2
        %a.pager_next{:href => ""} 次へ
  .line
  .other-article
    .other-article-title
      FEATURE
    .other-article-box
      %ul.article-list
        %li.other-article-1
          %p 2020.8
          =link_to article_index_path do
            ・青空教室!! 復興支援ゴーヤトンネル
          .image
            =image_tag src="content_1.jpg"
        %li.other-article-2
          %p 2020.7
          =link_to article_index_path do
            ・地産地消レシピ！ ベジエール渥美
          .image
            =image_tag src="content_2.jpg"
        %li.other-article-3
          %p 2020.6
          =link_to article_index_path do
            ・三河湾から全国へ！極上の大あさり
          .image
            =image_tag src="content_3.jpg"
        %li.other-article-4
          %p 2020.5
          =link_to article_index_path do
            ・幸せを運ぶ四葉のクローバー
          .image
            =image_tag src="content_4.jpg"
