.main-event-new {
  width: 100%;
  padding-top: 50px;
  font-family: serif;
  background-color: #eeeeee;
  .detail-content {
    width: 800px;
    height: 100%;
    margin: auto;
    border: solid 1px #ccc;
    text-align: center;
    background-color: white;
    .company-detail {
      padding-top: 30px;
      padding-bottom: 30px;
      ul.main-title {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          font-size: 25px;
          font-weight: bold;
        }
        li.required {
          margin-left: 8px;
          font-size: 15px;
          padding: 0 4px;
          font-weight: 600;
          background-color: #e3c700;
          color: #fff;
          border-radius: 2px;
          display: inline-block;
        }
      }
      .company-detail-form {
        padding-top: 30px;
        .title {
          font-size: 15px;
          font-weight: bold;
        }
        .form {
          padding-top: 5px;
          .text-form {
            height: 40px;
            width: 400px;
            margin: auto;
            input {
              width: 100%;
              height: 100%;
              border: 1px solid #ccc;
              border-radius: 3px;
              padding: 0 12px;
            }
          }
        }
      }
    }
  }
  hr {
    border-top-width: 1px;
    border-top-color: #efefef;
    border-left: 0 solid #efefef;
    border-bottom: 0 solid #efefef;
    border-right: 0 solid #efefef;
    border-top-style: solid;
  }
  .event-detail-top {
    padding-top: 30px;
    padding-bottom: 30px;
    ul.main-title {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        font-size: 25px;
        font-weight: bold;
      }
      li.required {
        margin-left: 8px;
        font-size: 15px;
        padding: 0 4px;
        font-weight: 600;
        background-color: #e3c700;
        color: #fff;
        border-radius: 2px;
        display: inline-block;
      }
    }
    .event {
      padding-top: 30px;
      .title {
        font-size: 15px;
        font-weight: bold;
      }
      .form {
        padding-top: 5px;
        .text-form {
          height: 40px;
          width: 400px;
          margin: auto;
          input {
            width: 100%;
            height: 100%;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 0 12px;
          }
        }
      }
    }
    .event-image-top {
      padding-top: 30px;
      .title {
        font-size: 15px;
        font-weight: bold;
      }
      .form {
        padding-top: 5px;
        display: flex;
        justify-content: center;
        .label-content {
          height: 200px;
          width: 600px;
          .label-box {
            display:  block;
            height: 100%;
            width: 100%;
            background-color: #eeeeee;
            border: 1px dashed #ccc;
            cursor: pointer;
            p.text {
              padding-top: 70px;
              font-weight: bold;
            }
            p.texy-2 {
              font-size: 15px;
            }
            .hidden-field {
              display: none;
            }
          }
        }
      }
    }
  }
  .event-detail-box {
    padding-top: 30px;
    padding-bottom: 30px;
    ul.main-title {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        font-size: 25px;
        font-weight: bold;
      }
      li.required {
        margin-left: 8px;
        font-size: 15px;
        padding: 0 4px;
        font-weight: 600;
        background-color: #e3c700;
        color: #fff;
        border-radius: 2px;
        display: inline-block;
      }
    }
    .highlight-point {
      padding-top: 30px;
      .title {
        font-size: 15px;
        font-weight: bold;
      }
      .form {
        padding-top: 5px;
        .text-form {
          height: 80px;
          width: 400px;
          margin: auto;
          textarea {
            width: 100%;
            height: 100%;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 0 12px;
          }
        }
      }
    }
    .house-data {
      padding-top: 30px;
      .title {
        font-size: 15px;
        font-weight: bold;
      }
      .form {
        padding-top: 5px;
        .text-form {
          height: 40px;
          width: 400px;
          margin: auto;
          input {
            width: 100%;
            height: 100%;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 0 12px;
          }
        }
      }
    }
  }
  .detail-image-box {
    padding-top: 30px;
    padding-bottom: 30px;
    .title {
      font-size: 15px;
      font-weight: bold;
    }
    .form {
      padding-top: 5px;
      display: flex;
      justify-content: center;
      .label-content {
        height: 200px;
        width: 600px;
        .label-box {
          display:  block;
          height: 100%;
          width: 100%;
          background-color: #eeeeee;
          border: 1px dashed #ccc;
          cursor: pointer;
          p.text {
            padding-top: 70px;
            font-weight: bold;
          }
          p.texy-2 {
            font-size: 15px;
          }
          .hidden-field {
            display: none;
          }
        }
      }
    }
  }
  .link-box {
    padding-top: 30px;
    padding-bottom: 30px;
    ul.main-title {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        font-size: 25px;
        font-weight: bold;
      }
      li.required {
        margin-left: 8px;
        font-size: 15px;
        padding: 0 4px;
        font-weight: 600;
        background-color: #bfbfbf;
        color: #fff;
        border-radius: 2px;
        display: inline-block;
      }
    }
    .company-link {
      padding-top: 30px;
      .title {
        font-size: 15px;
        font-weight: bold;
      }
      .form {
        padding-top: 5px;
        .text-form {
          height: 40px;
          width: 400px;
          margin: auto;
          input {
            width: 100%;
            height: 100%;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 0 12px;
          }
        }
      }
    }
  }
 .submit-box {
  padding: 40px;
  width: 360px;
  margin: 0px auto 32px;
  font-weight: 600;
  .btn {
    border-radius: 4px;
    background-color: #e3c700;
    color: white;
    width: 100%;
    font-size: 17px;
    min-height: 48px;
    padding: 0 24px;
    border: 1px solid #ccc;
    }
  a {
    margin-top: 24px;
    display: flex;
    width: 100%;
    height: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    }
 } 
}