.main_movie
  .movie-page
    .movie-search-box
      %form.form{:action => "", :method => "get"}
        %input.seach-form{:name => "", :placeholder => "検索", :type => "text"}/
        %input.seach-btn{:type => "submit", :value => "検索"}/
    .movie-content
      .diy-movie
        .title
          %p プロの職人がつくるDIY動画
        .movie-box
          .movie-num 
            .mivie-image
              =link_to "https://www.youtube.com/watch?v=-IJmy5RwnSM" do
                =image_tag src="thumbnail_1.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p #DIY ブランコ作ってみた
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
          .movie-num 
            .mivie-image
              =link_to "https://www.youtube.com/watch?v=-IJmy5RwnSM" do
                =image_tag src="thumbnail_2.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p #DIY 職人の便利な工具紹介
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
          .movie-num 
            .mivie-image
              =link_to "https://www.youtube.com/watch?v=-IJmy5RwnSM" do
                =image_tag src="thumbnail_3.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p #DIY 職人と一緒に五右衛門風呂作ってみた
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
          .movie-num 
            .mivie-image
              =link_to "https://www.youtube.com/watch?v=-IJmy5RwnSM" do
                =image_tag src="thumbnail_4.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p 工務店が教える簡単DIY教室
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
      .diy-movie
        .title
          %p 新着DIY動画
        .movie-box
          .movie-num 
            .mivie-image
              =image_tag src="thumbnail_1.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p #DIY ブランコ作ってみた
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
          .movie-num 
            .mivie-image
              =image_tag src="thumbnail_2.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p #DIY 職人の便利な工具紹介
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
          .movie-num 
            .mivie-image
              =image_tag src="thumbnail_3.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p #DIY 職人と一緒に五右衛門風呂作ってみた
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
          .movie-num 
            .mivie-image
              =image_tag src="thumbnail_4.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p 工務店が教える簡単DIY教室
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
      .diy-movie
        .title
          %p 人気のDIY動画
        .movie-box
          .movie-num 
            .mivie-image
              =image_tag src="thumbnail_1.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p #DIY ブランコ作ってみた
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
          .movie-num 
            .mivie-image
              =image_tag src="thumbnail_2.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p #DIY 職人の便利な工具紹介
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
          .movie-num 
            .mivie-image
              =image_tag src="thumbnail_3.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p #DIY 職人と一緒に五右衛門風呂作ってみた
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
          .movie-num 
            .mivie-image
              =image_tag src="thumbnail_4.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p 工務店が教える簡単DIY教室
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
        %hr
      .diy-movie
        .movie-box
          .movie-num 
            .mivie-image
              =image_tag src="thumbnail_1.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p #DIY ブランコ作ってみた
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
          .movie-num 
            .mivie-image
              =image_tag src="thumbnail_2.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p #DIY 職人の便利な工具紹介
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
          .movie-num 
            .mivie-image
              =image_tag src="thumbnail_3.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p #DIY 職人と一緒に五右衛門風呂作ってみた
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
          .movie-num 
            .mivie-image
              =image_tag src="thumbnail_4.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p 工務店が教える簡単DIY教室
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
      .diy-movie
        .movie-box
          .movie-num 
            .mivie-image
              =image_tag src="thumbnail_1.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p #DIY ブランコ作ってみた
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
          .movie-num 
            .mivie-image
              =image_tag src="thumbnail_2.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p #DIY 職人の便利な工具紹介
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
          .movie-num 
            .mivie-image
              =image_tag src="thumbnail_3.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p #DIY 職人と一緒に五右衛門風呂作ってみた
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
          .movie-num 
            .mivie-image
              =image_tag src="thumbnail_4.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p 工務店が教える簡単DIY教室
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
      .diy-movie
        .movie-box
          .movie-num 
            .mivie-image
              =image_tag src="thumbnail_1.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p #DIY ブランコ作ってみた
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
          .movie-num 
            .mivie-image
              =image_tag src="thumbnail_2.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p #DIY 職人の便利な工具紹介
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
          .movie-num 
            .mivie-image
              =image_tag src="thumbnail_3.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p #DIY 職人と一緒に五右衛門風呂作ってみた
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店
          .movie-num 
            .mivie-image
              =image_tag src="thumbnail_4.jpg"
            .movie-title
              =icon("fab", "youtube", class: "youtube")
              %p 工務店が教える簡単DIY教室
            .company
              %p 投稿者：
              =link_to "https://www.youtube.com/watch?v=hAW-X1_tQ7c" do
                Smile工務店